<!DOCTYPE html>
<html>
<head>
<style>
	@font-face {
		font-family: DEFAULT_FONT;
		src: url("font/micross.ttf")
	}
	*{ font-family: DEFAULT_FONT; }
</style>
</head>
<body>
<div id="page">
	<div class = "header">
		<h1>Технологично училище Електронни системи</h1>
		<h2>Технология на програмирането<br />
		Тест побитови операции</h2>
		<h2>Отговори</h2>
	</div>
	<div class="variants">
		<table border=1>
			<tr><th>N</th>
			% for num in range(len(variants[0].entries)):
				<th>${num+1}</th>
			% endfor
			% for variant in variants:
				<tr>
					<td>${ variant.number }</td>
					% for i in variant.entries:
					<td>
						${ hex(i.answer) }
					</td>
					% endfor
				</tr>
			% endfor
		</table>
	</div>

</div>
</body>
</html>