<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div id="page">
	<div class = "header">
		<h1>Технологично училище Електронни системи</h1>
		<h2>Технология на програмирането<br />
		Тест побитови операции</h2>
		<h2>Отговори</h2>
	</div>
	<div class="variants">
		% for variant in variants:
		<div class="variant">
			<div class = "number">
				${ variant.number }
			</div>
			% for i in variant.entries:
			<div class = "entry">
				<div class = "text">
					${ hex(i.answer) }
				</div>
			</div>
			% endfor
		</div><br />
		% endfor
	</div>

</div>
</body>
</html>