<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div id="page">
	<div class = "header">
		<h1>Технологично училище Електронни системи</h1>
		<h2>Технология на програмирането<br />
		Тест побитови операции</h2>
		<h2>Вариант ${ variant }</h2>
	</div>
	<div class="questions">
		% for i in entries:
		<div class = "entry">
			<div class = "text">
				${ i.format().replace("\n", "<br />") }
			</div>
			<div class = "input">
			...............
			</div>
		</div>
		% endfor
	</div>

</div>
</body>
</html>