<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style>
	@font-face {
		font-family: CODE2000;
		src: url("font/CODE2000.TTF")
	}
   * { font-family: CODE2000; }
</style>
</head>
<body>
<div id="page">
	<div class = "header">
		<h1>Технологично училище Електронни системи</h1>
		<h2>Технология на програмирането<br />
		Тест побитови операции</h2>
		<h2>Вариант ${ variant }</h2>
	</div>
	<div class="questions">
		% for i in entries:
		<div class = "entry">
			<div class = "text">
				${ i.format().replace("\n", "<br />") }
			</div>
			<div class = "input">
			...............
			</div>
		</div>
		% endfor
	</div>

</div>
</body>
</html>